@import '~antd/lib/style/themes/default.less';
@import '../../assets/styles/mixin.less';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: @layout-header-height;
  padding: 0 8px;

  &-img {
    height: calc(@layout-header-height / 2);
    object-fit: cover;
  }

  &-text {
    height: calc(@layout-header-height / 2);
    margin-left: 8px;
    animation: logo-text-hide 0.3s;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    .ellipsis(1);

    &--dark {
      color: #fff;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px !important;
  background: #fff !important;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
}

.theme-mode {
  margin-right: 12px;
}

.collapsed-trigger,
.message {
  font-size: 20px;
  cursor: pointer;
}

.breadcrumb {
  margin-left: 12px;
}

.tools {
  margin: -8px 0 0 24px;
}

.user {
  cursor: pointer;
}

.username {
  margin-left: 8px;
}

.content {
  padding: 12px;
}

@keyframes logo-text-hide {
  0% {
    display: none;
    opacity: 0;
  }

  80% {
    display: none;
    opacity: 0;
  }

  100% {
    display: unset;
    opacity: 1;
  }
}
